body{
    text-align: center;
    background-color:#ccc;
    overflow:hidden;
    max-height:100vh;
    /* font-size:10px; */
}
.main-container{
    margin-top:60px;
}

.match-buttons{
    font-size:64px;
}
.match-buttons > span{
    cursor: pointer;
}

.match-buttons svg{
    margin:0 5px;
    transition:all 0.3s;
}

.container{
    max-width:550px;
    border:1px solid black;
    border-radius:15px;
    background-color:#fff;
    margin-bottom:40px;
    padding:0 25px;
}
.profile-container table{
    width:100%;
    padding:10px;
    text-align:left;
}
.profile-container form{
    margin:50px 0;
}
#profile-bio{
    height:150px;
}
.container h3{
    margin:10px 0 5px;

}
.show-matches-container .bio{
    margin:0 auto;
    max-width:400px;
    background-color:#f7f7f9;
    border-radius:3px;
    padding:20px;
    text-align:left;

}
.show-matches-container img{
    width:400px;
    height:400px;
}


.red{
    color:red;
}
.red:hover{
    color:darkred;
}
.yellow{
    color:yellow;
}
.yellow:hover{
    color:darkgoldenrod;
}
.green{
    color:limegreen;
}
.green:hover{
    color:darkgreen;
}
.right{
    position:absolute;
    right:0;
}
.nav-link.active{
    color:white!important;
}
#alert{
    transition:all 1.25s ease-out;
    max-width:550px;
    overflow:hidden;
    margin:15px auto;
}
#alert.die{
    height:0;
    padding:0;
    border:0;
}

.matches-container{
    text-align:left;
    margin:20 0px;
    padding:20px; 
}
.match-picture{
    height:50px;
    width:50px;
    margin-right:10px;
}
.single-match-container form{
    display:flex;
    margin:10px;
}
.chat-input{
    flex:1;
}
.chat{
    height:400px;
    overflow-y:scroll;
    overflow-wrap: break-word;
    text-align:left;
}
.chat-message{
    border:1px solid black;
    border-radius:5px;
    margin-bottom:5px;
    padding:5px;
}
.chat-recieved{
    background:blue;
    color:white;
}
.chat-sent{
    background:lightgrey;
}
.alert.clickable{
    cursor: pointer;
}

.single-match-header{
    display:flex;
}
.single-match-header h3{
    flex:1;
}
.single-match-header .navbar-nav{
    float:right;
    margin-top:5px;
}
.show-matches-container{
    position:relative;
}
.show-matches-container-clone{
    position:absolute;
    top:0;
    padding:0 25px;
}